In [1]:
import pandas as pd

In [2]:
csv_file = "../Data/NCHS_-_Leading_Causes_of_Death__United_States.csv"
df = pd.read_csv(csv_file)
df.head()

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,United States,"169,936",49.4
1,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,"2,703",53.8
2,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,436,63.7
3,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,"4,184",56.2
4,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,"1,625",51.8

In [3]:
# df["Deaths"] = df["Deaths"].str.replace(",","")
# df["Age-adjusted Death Rate"] = df["Age-adjusted Death Rate"].str.replace(",","")
df[["Deaths","Age-adjusted Death Rate"]] = df[["Deaths","Age-adjusted Death Rate"]].\
                                           apply(lambda x: x.str.replace(",","")).\
                                           astype("float64")
df.head()

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,United States,169936.0,49.4
1,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2703.0,53.8
2,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,436.0,63.7
3,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,4184.0,56.2
4,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1625.0,51.8

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10868 entries, 0 to 10867
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     10868 non-null  int64
 1   113 Cause Name           10868 non-null  object
 2   Cause Name               10868 non-null  object
 3   State                    10868 non-null  object
 4   Deaths                   10868 non-null  float64
 5   Age-adjusted Death Rate  10868 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 509.6+ KB

In [5]:
json_output = "../Data/stats.json"
output = df.to_json(json_output, indent = 1, orient = "records")

In [6]:
from pymongo import MongoClient
from pprint import pprint

In [7]:
!mongoimport --type json -d health -c mortality --drop --jsonArray ../Data/stats.json

2023-06-19T18:07:56.744-0700	connected to: mongodb://localhost/
2023-06-19T18:07:56.745-0700	dropping: health.mortality
2023-06-19T18:07:57.186-0700	10868 document(s) imported successfully. 0 document(s) failed to import.

In [8]:
mongo = MongoClient(port=27017)

In [9]:
db_names = mongo.list_database_names()

db_to_check = "health"

print(db_names)

print("-"*20)

if db_to_check in db_names:
    print(f"Database found: {db_to_check}")
    
else:
    print("Database not found")

['admin', 'autosaurus', 'classDB', 'config', 'gardenDB', 'health', 'local', 'met', 'uk_food']
--------------------
Database found: health

In [10]:
db = mongo["health"]

In [11]:
db.list_collection_names()

['mortality']

In [12]:
mortality = db.mortality

In [13]:
one_doc = db.mortality.find_one()
pprint(one_doc)

{'113 Cause Name': 'Accidents (unintentional injuries) (V01-X59,Y85-Y86)',
 'Age-adjusted Death Rate': 49.4,
 'Cause Name': 'Unintentional injuries',
 'Deaths': 169936.0,
 'State': 'United States',
 'Year': 2017,
 '_id': ObjectId('6490fbec1c29dc5b3727cfcf')}

In [6]:
!mongoimport --type json -d health -c states --drop ../Data/us-states.json

2023-06-22T12:44:28.687-0700	connected to: mongodb://localhost/
2023-06-22T12:44:28.698-0700	dropping: health.states
2023-06-22T12:44:28.749-0700	1 document(s) imported successfully. 0 document(s) failed to import.